# vscode garbage
.vscode/

# python venv and package building shit
backend/venv
backend/.venv
backend/**/backend.egg-info
backend/build
__pycache__/
.pytest_cache/
.mypy_cache/

# config files
# do not commit! instead, commit config.default and use config.toml for local
config.toml

# mac os garbage
.DS_Store
.AppleDouble
.LSOverride
