@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page {
    @apply
    pt-16 /* MAKE SURE IT IS SAME AS NAVBARS HEIGHT! */
    pb-8
    flex
    flex-col
    content-center
    items-center
    min-h-screen
  }

  .icon-size {
    @apply
    w-10
    h-10
  }

  .nav-text-btn {
    @apply
    font-[600]
    text-[24px]
    hover:underline
    w-full
  }

  .nav-text-btn-divider {
    @apply
    w-[2px]
    h-1/2
    bg-[#D1D5DB]
    rounded-lg
  }

  .btn {
    @apply
    rounded-xl
    py-3
    px-0
    text-center
    text-[20px]
    phablet:text-[24px]
    font-bold
    h-16
    bg-black
    text-white
  }
  
  .btn-secondary {
    @apply
    btn
    border-2
    border-black
    bg-white
    text-black
  }

  .title {
    @apply
    text-[4.5rem]
    font-bold
    text-[#191919]

    phablet-max:text-[3.5rem]
  }

  .subtitle {
    @apply
    text-[1.5rem]
    text-gray-500
  }

  .form-ui-group {
    @apply
    w-full
    flex
    phablet:flex-row
    flex-col
    justify-between
    space-y-5
    phablet:space-y-0
    phablet:space-x-5
  }

  .form-ui-group-element-width {
    @apply
    w-full
    phablet:w-1/2
  }

  .panel {
    @apply
    /* border-2
    bg-gray-100
    border-gray-400 */
    bg-[#F8F8F8]
    shadow-lg
    rounded-2xl
  }

	body {
		@apply
    p-0
    font-poppins
		/* bg-[url("./assets/endless-constellation.svg")] */
		/* background by SVGBackgrounds.com */
		bg-fixed
		bg-center
		text-white
    overflow-x-hidden
		;
	}
}