@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page {
    @apply
    pt-16 /* MAKE SURE IT IS SAME AS NAVBARS HEIGHT! */
    pb-8
    flex
    flex-col
    content-center
    items-center
    min-h-screen
  }

  .icon-size {
    @apply
    w-10
    h-10
  }

  .border-col {
    @apply
    border-light-gray
    dark:border-dark-gray
  }

  .nav-text-btn {
    @apply
    font-[600]
    text-[24px]
    hover:underline
    w-full
  }

  .nav-text-btn-divider {
    @apply
    w-[2px]
    h-1/2
    bg-light-gray
    rounded-lg
  }

  .btn {
    @apply
    rounded-xl
    py-3
    px-0
    text-center
    text-[20px]
    phablet:text-[24px]
    font-bold
    h-16
    bg-dark
    text-light
    
    dark:bg-red-600
  }
  
  .btn-secondary {
    @apply
    btn
    border-2
    border-dark
    bg-light
    text-dark
    dark:border-dark
    dark:bg-light
    dark:text-dark
  }

  .title {
    @apply
    text-[4.5rem]
    font-bold
    text-dark
    dark:text-light

    phablet-max:text-[3.5rem]
  }

  .subtitle {
    @apply
    text-[1.5rem]
    text-dark-gray
    dark:text-light-gray
  }

  .form-ui-group {
    @apply
    w-full
    flex
    phablet:flex-row
    flex-col
    justify-between
    space-y-5
    phablet:space-y-0
    phablet:space-x-5
  }

  .form-ui-group-element-width {
    @apply
    w-full
    phablet:w-1/2
  }

  .panel {
    @apply
    /* border-2
    bg-gray-100
    border-gray-400 */
    bg-light-gray
    dark:bg-dark
    text-inherit
    shadow-lg
    rounded-2xl
  }

	body {
		@apply
    p-0
    font-poppins
		/* bg-[url("./assets/endless-constellation.svg")] */
		/* background by SVGBackgrounds.com */
		bg-fixed
		bg-center
    overflow-x-hidden
    
    bg-light
    text-dark

    dark:bg-dark
    dark:text-light
	}
}

* {
  scrollbar-width: thin;
}